{% extends "base.html.twig" %}

{% block css_include %}
    <style>
        #myProgress {
            width: 100%;
            background-color: grey;
        }

        #myBar {
            width: 1%;
            height: 30px;
            background-color: green;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row text-center game-title">
            <div class="col-12">
                <h1>A toi de jouer {{ app.session.get('player_name') }} !</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-8 playground-center">
                <table class="table table-responsive">
                    <tbody>
                        <tr>
                            <td><div id="A-1" class="fruits not-found"></div></td>
                            <td><div id="A-2" class="fruits not-found"></div></td>
                            <td><div id="A-3" class="fruits not-found"></div></td>
                            <td><div id="A-4" class="fruits not-found"></div></td>
                            <td><div id="A-5" class="fruits not-found"></div></td>
                            <td><div id="A-6" class="fruits not-found"></div></td>
                            <td><div id="A-7" class="fruits not-found"></div></td>
                        </tr>
                        <tr>
                            <td><div id="B-1" class="fruits not-found"></div></td>
                            <td><div id="B-2" class="fruits not-found"></div></td>
                            <td><div id="B-3" class="fruits not-found"></div></td>
                            <td><div id="B-4" class="fruits not-found"></div></td>
                            <td><div id="B-5" class="fruits not-found"></div></td>
                            <td><div id="B-6" class="fruits not-found"></div></td>
                            <td><div id="B-7" class="fruits not-found"></div></td>
                        </tr>
                        <tr>
                            <td><div id="C-1" class="fruits not-found"></div></td>
                            <td><div id="C-2" class="fruits not-found"></div></td>
                            <td><div id="C-3" class="fruits not-found"></div></td>
                            <td><div id="C-4" class="fruits not-found"></div></td>
                            <td><div id="C-5" class="fruits not-found"></div></td>
                            <td><div id="C-6" class="fruits not-found"></div></td>
                            <td><div id="C-7" class="fruits not-found"></div></td>
                        </tr>
                        <tr>
                            <td><div id="D-1" class="fruits not-found"></div></td>
                            <td><div id="D-2" class="fruits not-found"></div></td>
                            <td><div id="D-3" class="fruits not-found"></div></td>
                            <td><div id="D-4" class="fruits not-found"></div></td>
                            <td><div id="D-5" class="fruits not-found"></div></td>
                            <td><div id="D-6" class="fruits not-found"></div></td>
                            <td><div id="D-7" class="fruits not-found"></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-8 progress-bar">
                <div id="myProgress">
                    <div id="myBar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_include %}
    <script>
        $(document).ready(function () {
            start_game();
        });

        var i = 0;
        function start_game() {
            if (i == 0) {
                i = 1;
                var elem = $('#myBar');
                var width = 1;
                var id = setInterval(frame, 10);
                function frame() {
                    if (width >= 100) {
                        clearInterval(id);
                        i = 0;
                    } else {
                        width++;
                        $('#myBar').width(width + '%');
                    }
                }
            }
        }
    </script>
{% endblock %}