{% extends "base.html.twig" %}

{% block css_include %}
    <style>
        #myProgress {
            width: 100%;
            background-color: grey;
        }

        #myBar {
            width: 1%;
            height: 30px;
            background-color: green;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row text-center game-title">
            <div class="col-12">
                <h1>A toi de jouer {{ app.session.get('player_name') }} !</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-8 playground-center">
                {{ tableau|raw }}
            </div>
        </div>
        <div class="row text-center">
            <div class="col-8 progress-bar">
                <div id="myProgress">
                    <div id="myBar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_include %}
    <script>
        var i = 0;
        function start_game() {
            if (i == 0) {
                i = 1;
                var width = 1;
                var id = setInterval(frame, 10);
                function frame() {
                    if (width >= 100) {
                        clearInterval(id);
                        i = 0;
                    } else {
                        width++;
                        $('#myBar').width(width + '%');
                    }
                }
            }
        }

        $(document).ready(function () {
            var cartes = [];
            start_game();

            $(document).on('click', '.fruits', function () {
                if ($(this).hasClass('not-found')) {
                    cartes.push($(this).attr('id'));
                    console.log(cartes);

                    $.ajax({
                        type: 'POST',
                        url: "{{ path('play_card')}} ",
                        data: "&carte="+$(this).attr('id'),
                        complete: function(data) {
                            $('.playground-center').html(data.responseText).show();

                            if (cartes.length === 2 && $('#'+cartes[0]).attr('class') !== $('#'+cartes[1]).attr('class')) {
                                $.ajax({
                                    type: 'POST',
                                    url: "{{ path('cancel_cards')}} ",
                                    data: "&cartes="+cartes,
                                    complete: function(data) {
                                        cartes = [];
                                        $('.playground-center').html(data.responseText).show();
                                    }
                                });
                            } else if (cartes.length === 2 && $('#'+cartes[0]).attr('class') === $('#'+cartes[1]).attr('class')) {
                                cartes = [];
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}